/* Colors
 ******************************/
/* Primary
 ***************/
$very-dark-blue: #090b1a;
$dark-desaturated-blue: #1b1938;
$soft-violet: #aa5cdb;
/* Neutral
 ***************/
$white: #ffffff;
$slightly-transparent-white: #ffffffbf;
$slightly-transparent-white: #ffffff99;

/* Global Variables
 ******************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $very-dark-blue;
}

picture {
    display: flex;
}

/* Body Variables
 ******************************/
main {
    padding: 88px 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-card {
    width: 100%;
    max-width: 327px;
    border-radius: 8px;

    background-color: $dark-desaturated-blue;
    overflow: hidden;

    &__img {
        width: 327px;
        height: 240px;

        background-color: $soft-violet;

        position: relative;


        &::before {
            content: '';
            width: 100%;
            height: 100%;

            background: url(../images/image-header-mobile.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            mix-blend-mode: multiply;
            opacity: 75.11%;

            position: absolute;

        }
    }

    &__inner-text {
        padding: 40px 31px;
    }

    &__title {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        
        text-align: center;

        color: $white;

        span {
            color: $soft-violet;
        }
    }

    &__caption {
        margin-top: 16px;

        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;

        text-align: center;

        color: $white;

        mix-blend-mode: normal;
        opacity: 0.75;
    }

    &__benefits-container {
        margin-top: 40px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        text-align: center;
    }

    &__benefit-title {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        
        text-align: center;

        color: $white;
    }

    &__benefit-caption {
        margin-top: 2px;

        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 25px;

        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;

        color: #FFFFFF;

        mix-blend-mode: normal;
        opacity: 0.6;
    }
}

@media only screen and (min-width: 1440px) {
    main {
        padding: 177px;
    }

    .preview-card {
        max-width: 1100px;
        height: 446px;

        display: flex;
        flex-direction: row-reverse;

        &__img {
            flex-basis: 540px;
            height: 100%;

            &::before {
                background: url("../images/image-header-desktop.jpg");
            }
        }

        &__inner-text {
            flex-basis: 570px;
            padding: 71px 95px 59px 71.5px;
        }

        &__title {
            font-size: 36px;
            line-height: 44px;

            text-align: left;
        }

        &__caption {
            margin-top: 25px;
            text-align: left;
        }

        &__benefits-container {
            margin-top: 72px;
            flex-direction: row;
            gap: 60px;
        }

        &__benefit:nth-of-type(2) {
            margin-left: 3px;
        }

        &__benefit-title {
            text-align: left;
        }

        &__benefit-caption {
            text-align: left;
        }
    }
}